body{
    background-color: #708bd4;
    margin: 0px;
}
h1{
    color:aliceblue;
    font-family: "Josefin Sans";
}
p{
    color:azure;
    padding: 5px;
}
#p2{
    color: rgb(185, 213, 213);
}
#headbox{
    background-color: #4d58a3;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top: 0px;
}
#txtbox{
    font-family: sans-serif;
    margin-left: 5%;
}